
# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
.env
.env.*

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Logs
# ======================
*.log

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Coverage / Testing
# ======================
.coverage
htmlcov/
.pytest_cache/

# ======================
# Build / Dist
# ======================
build/
dist/
*.egg-info/

# ======================
# Docker
# ======================
*.pid
*.seed

# ======================
# Node (if used later)
# ======================
node_modules/
